.main {

}

.img-box {
	column-count: 4;
	column-gap: 3px;
	width: 80%;
	max-width: 1400px;
	margin: 0 auto;
	background-color: #eee;
	padding: 5px;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}

img{
	max-width: 99%;
	width: 99%;
	display: block;
	margin: 3px;
}

img + img {
	margin: 3px;
}

		/*ПРОЗРАЧНОСТЬ, СКОРОСТЬ*/

.img-link {
	display: block;
	opacity: 0.6;
	transition: 1s;
	/**/
}

.img-link + .img-link {
	margin: 3px 0;

		/*НЕ ПРОЗРАЧНОСТЬ*/

}
.img-link:hover {
	opacity: 1;

	/*УВЕЛИЧИВАНИЕ*/

	transform: scale(1.5);
	z-index: 1;
	/**/
	box-shadow: 0 0 200px 30px rgba(0, 0, 0, 0.4);
}